<!DOCTYPE html>

<!-- Chat & Notes Area

Hey jacq, kunnen deze comments area gebruiken om notities de delen. handig toch ?

1. use eigen tags
2. maak appart style sheet 
3. kijk hoe de pagina load op een mobiel / ipad 'ziet er waardeloos uit op mijn mobiel ...' 



-->

<html lang="en">
<head>
  <title>Scorekaart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/custom.css">
  <link rel="stylesheet" href="/style.css">
 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
 <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>Scorekaart:</h1>
  <p></p> 

<!-- 

Stel voor dat jij alles begint met bw- (bentwouden) dat krijg je geen duplicates...
Probleem is echter dat 'card-3' inherited was van een ander en 'bw-wit' is het niet
--- Dus we kunnen wat weer terug halen 'gewoon uithuilen en opnieuw beginnen'?
nee hoor, ik bedoel - jij heb card-3 gemaakt toch? waar heb jij dat van gecopieerd? 'weet ik niet meer, wrs. van een website, zelf verzonnen '
ik heb 't gevonden --- jij heb get can 'card' gekopieerd..... 

-->

<div class="row">
  <div class="card card-block">
    <div class="col-xs-2 bw-wit">Wedstrijd:</div>
    <div class="col-xs-5 bw-wit">&nbsp;</div>
    <div class="col-xs-2 bw-wit">Vorm:</div>
    <div class="col-xs-3 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Datum:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">Starttijd:</div>
  <div class="col-xs-3 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Speler:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">hcp:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">slagen:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Marker:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">hcp:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">slagen:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  </div>
  </div>
<HR>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-6 bw-wit oostwoud"><h6>OOSTWOUD (A-lus)</h6></div>
  <div class="col-xs-1 bw-green"><h6>&nbsp;</h6></div>
  <div class="col-xs-2 bw-green"><h6>Speler</h6></div>
  <div class="col-xs-2 bw-green"><h6>Marker</h6></div>
  <div class="col-xs-1 bw-green"><h6>&nbsp;</h6></div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">Hole</div>
  <div class="col-xs-1 bw-green">Par</div>
  <div class="col-xs-2 bw-green">Meter</div>
  <div class="col-xs-2 bw-green">Meter</div>
  <div class="col-xs-1 bw-green">S.I.</div>
  <div class="col-xs-1 bw-green">Score</div>
  <div class="col-xs-1 bw-green">Pnt</div>
  <div class="col-xs-1 bw-green">Score</div>
  <div class="col-xs-1 bw-green">Pnt</div>
  <div class="col-xs-1 bw-green">Rem</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 1-->
<div class="row">
<!-- card card-inverse" style="background-color: #dfd; border-color: #dfd;-->
  <div class="card card-block">
  <div class="col-xs-1 bw-green">1</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">369</div>
  <div class="col-xs-1 bw-geel">348</div>
  <div class="col-xs-1 card-block card-5">322</div>
  <div class="col-xs-1 card-block card-6">306</div>
  <div class="col-xs-1 card-block card-1">14</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div> 
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 2-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">2</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">279</div>
  <div class="col-xs-1 bw-geel">268</div>
  <div class="col-xs-1 bw-blauw">244</div>
  <div class="col-xs-1 bw-rood">230</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 3-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">3</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">350</div>
  <div class="col-xs-1 bw-geel">337</div>
  <div class="col-xs-1 bw-blauw">305</div>
  <div class="col-xs-1 bw-rood">286</div>
  <div class="col-xs-1 bw-green">12</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 4-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-wit">146</div>
  <div class="col-xs-1 bw-geel">132</div>
  <div class="col-xs-1 bw-blauw">132</div>
  <div class="col-xs-1 bw-rood">116</div>
  <div class="col-xs-1 bw-green">16</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 5-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">369</div>
  <div class="col-xs-1 bw-geel">354</div>
  <div class="col-xs-1 bw-blauw">329</div>
  <div class="col-xs-1 bw-rood">308</div>
  <div class="col-xs-1 bw-green">6</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 6-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">6</div>
  <div class="col-xs-1 bw-green">3</div>
  <div class="col-xs-1 bw-wit">179</div>
  <div class="col-xs-1 bw-geel">156</div>
  <div class="col-xs-1 bw-blauw">156</div>
  <div class="col-xs-1 bw-rood">136</div>
  <div class="col-xs-1 bw-green">8</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 7-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">7</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">285</div>
  <div class="col-xs-1 bw-geel">269</div>
  <div class="col-xs-1 bw-blauw">250</div>
  <div class="col-xs-1 bw-rood">236</div>
  <div class="col-xs-1 bw-green">18</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 8-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">8</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">361</div>
  <div class="col-xs-1 bw-geel">353</div>
  <div class="col-xs-1 bw-blauw">331</div>
  <div class="col-xs-1 bw-rood">297</div>
  <div class="col-xs-1 bw-green">2</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS HOLE 9-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">9</div>
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-wit">472</div>
  <div class="col-xs-1 bw-geel">458</div>
  <div class="col-xs-1 bw-blauw">413</div>
  <div class="col-xs-1 bw-rood">384</div>
  <div class="col-xs-1 bw-green">10</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--OOSTWOUD A-LUS END-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">uit/in</div>
  <div class="col-xs-1 bw-green">35</div>
  <div class="col-xs-1 bw-wit">2810</div>
  <div class="col-xs-1 bw-geel">2675</div>
  <div class="col-xs-1 bw-blauw">2482</div>
  <div class="col-xs-1 bw-rood">2299</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
  </div>
<HR>
 <!--ZUIDWOUD B-LUS-->
 <div class="container-fluid">
    <p>9 holes</p> 
	<p>18 holes</p> 

<div class="row">
  <div class="col-*-*"></div>
</div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Wedstrijd:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">Vorm:</div>
  <div class="col-xs-3 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Datum:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">Starttijd:</div>
  <div class="col-xs-3 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Speler:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">hcp:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">slagen:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-2 bw-wit">Marker:</div>
  <div class="col-xs-5 bw-wit">&nbsp;</div>
  <div class="col-xs-2 bw-wit">hcp:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">slagen:</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  </div>
  </div>
<HR>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-6 bw-wit oostwoud"><h6>ZUIDWOUD (B-lus)</h6></div>
  <div class="col-xs-1 bw-green"><h6>&nbsp;</h6></div>
  <div class="col-xs-2 bw-green"><h6>Speler</h6></div>
  <div class="col-xs-2 bw-green"><h6>Marker</h6></div>
  <div class="col-xs-1 bw-green"><h6>&nbsp;</h6></div>
  </div>
  </div>
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">Hole</div>
  <div class="col-xs-1 bw-green">Par</div>
  <div class="col-xs-2 bw-green">Meter</div>
  <div class="col-xs-2 bw-green">Meter</div>
  <div class="col-xs-1 bw-green">S.I.</div>
  <div class="col-xs-1 bw-green">Score</div>
  <div class="col-xs-1 bw-green">Pnt</div>
  <div class="col-xs-1 bw-green">Score</div>
  <div class="col-xs-1 bw-green">Pnt</div>
  <div class="col-xs-1 bw-green">Rem</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 1-->
<div class="row">
<!-- card card-inverse" style="background-color: #dfd; border-color: #dfd;-->
  <div class="card card-block">
  <div class="col-xs-1 bw-green">1</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">369</div>
  <div class="col-xs-1 bw-geel">348</div>
  <div class="col-xs-1 bw-blauw">322</div>
  <div class="col-xs-1 bw-rood">306</div>
  <div class="col-xs-1 bw-groen">14</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div> 
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 2-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">2</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">279</div>
  <div class="col-xs-1 bw-geel">268</div>
  <div class="col-xs-1 bw-blauw">244</div>
  <div class="col-xs-1 bw-rood">230</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 3-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">3</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">350</div>
  <div class="col-xs-1 bw-geel">337</div>
  <div class="col-xs-1 bw-blauw">305</div>
  <div class="col-xs-1 bw-rood">286</div>
  <div class="col-xs-1 bw-green">12</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 4-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-wit">146</div>
  <div class="col-xs-1 bw-geel">132</div>
  <div class="col-xs-1 bw-blauw">132</div>
  <div class="col-xs-1 bw-rood">116</div>
  <div class="col-xs-1 bw-green">16</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 5-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">369</div>
  <div class="col-xs-1 bw-geel">354</div>
  <div class="col-xs-1 bw-blauw">329</div>
  <div class="col-xs-1 bw-rood">308</div>
  <div class="col-xs-1 bw-green">6</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 6-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">6</div>
  <div class="col-xs-1 bw-green">3</div>
  <div class="col-xs-1 bw-wit">179</div>
  <div class="col-xs-1 bw-geel">156</div>
  <div class="col-xs-1 bw-blauw">156</div>
  <div class="col-xs-1 bw-rood">136</div>
  <div class="col-xs-1 bw-green">8</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 7-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">7</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">285</div>
  <div class="col-xs-1 bw-geel">269</div>
  <div class="col-xs-1 bw-blauw">250</div>
  <div class="col-xs-1 bw-rood">236</div>
  <div class="col-xs-1 bw-green">18</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 8-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">8</div>
  <div class="col-xs-1 bw-green">4</div>
  <div class="col-xs-1 bw-wit">361</div>
  <div class="col-xs-1 bw-geel">353</div>
  <div class="col-xs-1 bw-blauw">331</div>
  <div class="col-xs-1 bw-rood">297</div>
  <div class="col-xs-1 bw-green">2</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--ZUIDWOUD B-LUS HOLE 9-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">9</div>
  <div class="col-xs-1 bw-green">5</div>
  <div class="col-xs-1 bw-wit">472</div>
  <div class="col-xs-1 bw-geel">458</div>
  <div class="col-xs-1 bw-blauw">413</div>
  <div class="col-xs-1 bw-rood">384</div>
  <div class="col-xs-1 bw-green">10</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
<!--B-LUS END-->
<div class="row">
  <div class="card card-block">
  <div class="col-xs-1 bw-green">uit/in</div>
  <div class="col-xs-1 bw-green">35</div>
  <div class="col-xs-1 bw-wit">2810</div>
  <div class="col-xs-1 bw-geel">2675</div>
  <div class="col-xs-1 bw-blauw">2482</div>
  <div class="col-xs-1 bw-rood">2299</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-wit">&nbsp;</div>
  <div class="col-xs-1 bw-green">&nbsp;</div>
  </div>
  </div>
  </div>
  
 <HR>

</body>
</html>

<!-- Stack the columns on mobile by making one full-width and the other half-width 
<div class="row">
  <div class="col-xs-12 col-xs-8">.col-xs-12 .col-xs-8</div>
  <div class="col-xs-6 col-xs-4">.col-xs-6 .col-xs-4</div>
</div>-->